<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Update {{ masterData.RoomHeader }}</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container-fluid py-3">
  <div class="row my-3">
    <div class="col">
      <label for="exampleFormControlSelect_date" class="form-label">Date</label>

      <input
        id="exampleFormControlSelect_date"
        class="form-control form-control-sm"
        placeholder="yyyy-mm-dd"
        name="fromdp"
        [(ngModel)]="fromDate"
        type="date"
      /> 
      <!-- <input
        id="exampleFormControlSelect_date"
        class="form-control form-control-sm"
        placeholder="yyyy-mm-dd"
        name="fromdp"
        [(ngModel)]="fromDate"
        ngbDatepicker
        #fromdate="ngbDatepicker"
      />
      <div class="input-group-append" style="margin-top:4px">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="fromdate.toggle()"
          type="button"
        >
          Select Date
        </button>
      </div> -->
    </div>
    <div class="row my-3">
      <div class="col">
        <label for="exampleFormControlSelect1" class="form-label"
          >Subject</label
        >
        <select
          class="form-control form-control-sm"
          id="exampleFormControlSelect1"
          [(ngModel)]="mSubjectID"
        >
          <option
            *ngFor="let row of masterData.ListSubjects"
            [value]="row.value"
          >
            {{ row.value }} + {{ row.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <label for="exampleFormControlTextarea1" class="form-label">Memo</label>
        <textarea
          class="form-control form-control-sm"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]="mSubjectMemo"
        ></textarea>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="flex">
          <span class="card">
            <img *ngFor="let url of urls" [src]="url" height="280" />
          </span>

          <span class="add">
            <label for="upload">
              <span class="fa fa-plus">+</span>
              <input
                type="file"
                (change)="onSelectFile($event)"
                multiple
                hidden
                id="upload"
              />
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <button class="btn btn-sm btn-outline-primary" (click)="submit_class()">
          Submit
        </button>
      </div>
    </div>
  </div>

  <ng-template #demoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input
              id="dateOfBirth"
              name="dateOfBirth"
              class="form-control"
              placeholder="yyyy-mm-dd"
              ngbDatepicker
              #dp="ngbDatepicker"
            />
            <button
              type="button"
              class="btn btn-outline-secondary bi bi-calendar"
              (click)="dp.toggle()"
            ></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>
</div>
